<h2><%= @name %>様、ご登録ありがとうございます。</h2><br>
<p>以下の内容にて、<%= @name %>様の情報を登録致しました。また大切に保管されますようお願いします。</p>
--------------------------------------------------------------------------------------
<p>
ユーザー名: <%= @name %><br>
メールアドレス: <%= @email %><br>
パスワード: <%= @password %></p>
--------------------------------------------------------------------------------------
<%= link_to("ログインページ", "http://localhost:3000/login") %>
