<div class="container">
  <div class="index-headline"><%= t(".posts_you_liked") %></div>
  <div class="pagination"><%= paginate @likes %></div>
  <% @likes.each do |like| %>
    <% posts = Post.where(id: like.post_id) %>
    <% posts.each do |post| %>
      <%= link_to("/posts/#{post.id}", class: "link") do %>
        <div class="posts-index">
          <img src="<%= "/post_images/#{post.image_name}" %>" class ="post-picture">
          <h3><%= post.title %></h3>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="clear"></div>
</div>
