<div class="container">
  <div class="message_box">
    <div class="your-box">
      <h1><%= t(".messages_to_your_posts") %></h1>
      <% @your_rooms.each do |y_room| %>
        <%= link_to("/rooms/#{y_room.id}", class: "link") do %>
          <div class="to-chat">
            <% post = Post.find(y_room.post_id) %>
            <% user = User.find(y_room.user_id) %>
            <%# messages = Message.where(room_id: y_room.id) %>
            <img src="<%= "/post_images/#{post.image_name}" %>">
            <div class="chat-title">
              <%= "#{post.title}  with #{user.name}" %>
            </div>
            <div class="chat-date">
              <%= y_room.updated_at.strftime('%m/%d')%>
            </div>
            <%# message.message    ←なぜ出力できない？？　カラム名とモデル名が同じだから？？ %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="others-box">
      <h1><%= t(".messages_to_posts_you_are_interested_in") %></h1>
      <% @others_rooms.each do |o_room| %>
        <%= link_to("/rooms/#{o_room.id}", class: "link") do %>
          <div class="to-chat">
            <% post = Post.find(o_room.post_id) %>
            <% user = User.find(o_room.poster_id) %>
            <img src="<%= "/post_images/#{post.image_name}" %>">
            <div class="chat-title">
              <%= "#{post.title}  with #{user.name}" %>
            </div>
            <div class="chat-date">
              <%= o_room.updated_at.strftime('%m/%d')%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="clear"></div>
  </div>
</div>
