<div class="container">
  <div class="chatting">
    <div class="chatting-left">
      <div class="chat_box">
        <% @all_messages.each do |all_messages| %>
          <% if all_messages.user_id == @you.id %>
            <div class="your-messages">
              <p><%= all_messages.message %><br></p>
            </div>
            <div class="clear"></div>
          <% else %>
            <div class="others-messages">
              <p><%= all_messages.message %><br></p>
            </div>
            <div class="clear"></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="chatting-right">
      <div class="chatting-image"><img src="<%= "/post_images/#{@post.image_name}" %>"></div>
      <h4><%= @post.title %></h4>
      <p><%= @post.content %></p>
      <div class="message-form">
        <%= form_for @message, url: messages_create_path do |f| %>
          <%= f.text_field :message, class: "text-form"  %>   <%#  どうすれば、 text_field 内で文字を折り返せる？？ %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <%= f.submit t(".submit"), class: "form-submit" %>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
